body {
	font-size: 20px;
}

form .form-group input,
form button {
	font-size: 20px;
}

form {
	margin: 40px 0;
	text-align: center;
}

.conjunto {
	font-size: 20px;
}

.elemento {
	cursor: pointer;
}

.elemento:hover {
	color: #bbb;
}

footer.footer {
	margin: 20px 0;
	padding: 15px;
	color: #999;
	font-size: 20px;
	border-top: 1px solid #ccc;
}