<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Medidas de Tendencia Central</title>
</head>
<body>
    <div id="app" class="container">
    	<h1>Cálculo de Tendencias Centrales</h1>

    	<app-single-value-form @enviar="agregar"></app-single-value-form>

    	<template v-if="conjunto.length">
	    	<label for="conjunto">Conjunto</label>
	    	<p id="conjunto" class="conjunto">
	    		[
	    		<span class="elemento"
	    			  v-for="(elemento, indice) of conjunto"
	    			  v-text="elemento + ' '"
	    			  @click="retirar(indice)"
	    			  :title="`Eliminar ${elemento}`"></span>
	    		]
	    	</p>
	    </template>

    	<template v-if="conjunto.length">
    		<button class="btn btn-info"
	    			@click="limpiar">
	    		Limpiar conjunto
	    	</button>
	    	<button class="btn btn-default"
	    			@click="calcular">
    			Calcular MTC
    		</button>
	    </template>

    	<template v-if="mostrar">
    		<hr>
    		<label for="media">Media Aritmética</label>
	    	<p id="media" v-text="media"></p>
    	</template>

        <footer class="footer">
            <p>&copy; 2018 - Diego Karabin</p>
        </footer>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/x-template" id="single-value-form">
        <form class="form-inline" @submit.prevent="enviar">
            <div class="form-group">
                <label for="valor" class="control-label">Valor</label>
                <input type="number" name="valor" v-model="valor" class="form-control">
            </div>
            <button class="btn btn-primary"
                    :disabled="valor == undefined">
                Agregar
            </button>
        </form>
    </script>
    <script src="js/app.js"></script>

</body>
</html>